%h1 Your information
%dl
  %dt Email:
  %dd= current_user.email

- form_for @user, :url => user_url do |f|
  - field_set_tag 'Update my password' do
    %p
      = f.label :current_password, 'Your actual password, please'
      = f.password_field :current_password
    %p.error
      = error_message_on @user, :current_password
    %p
      = f.label :password, 'What password do you want?'
      = f.password_field :password
    %p.error
      = error_message_on @user, :password
    %p
      = f.label :password_confirmation, 'Confirm the new password'
      = f.password_field :password_confirmation
    %p{:class => 'submit'}
      = f.submit 'Update password'

- form_for @user, :url => update_notify_user_url do |f|
  %p{:class => 'notice'}= flash[:notify_me]
  - field_set_tag 'Notify me' do
    %table.small
      %thead
        %tr
          %th Project
          %th Notify new errors by email?
          %th Notify project removal by email?
          %th Notify new errors by digest?
      %tbody
        - @user.member_projects.each do |project|
          %tr
            %td= project.name
            %td= check_box_tag 'notify_by_email[]', project.id.to_s, project.member(@user).notify_by_email
            %td= check_box_tag 'notify_removal_by_email[]', project.id.to_s, project.member(@user).notify_removal_by_email
            %td
              = check_box_tag 'notify_by_digest[]', project.id.to_s, project.member(@user).notify_by_digest
              - if project.member(@user).digest_send_at
                last digest send at
                = l project.member(@user).digest_send_at

    %p{:class => 'submit'}
      = f.submit 'Update notifications'

= link_to 'Cancel my account', user_path, :method => :delete, :confirm => 'Are you sure?'
