%h1 Update your project

%p 
  = "API key: #{@project.api_key}"
  = link_to 'Reset', reset_apikey_project_url(@project), :method => :put

- field_set_tag 'Project' do
  = error_messages_for :project

  - form_for @project do |f|
    %p
      %label='Name :'
      = f.text_field :name
    %p
      = f.submit 'update'

- field_set_tag 'Members' do
  - form_tag add_member_project_url(@project), :method => :put do
    %p
      = label_tag 'Email'
      %br/
      = text_field_tag :email
    %p{:class => 'submit'}
      = submit_tag 'Add email'

%h2 List of members

%table
  %thead
    %tr
      %th Email
      %th Status
      %th Admin
      %th Trash
  %tbody
    - @project.members.each do |member|
      %tr
        %td= member.email
        %td= member_status(member.status)
        %td= change_power(member)
        %td= trash_member(member)
