- @title = t('views.projects.index.title')

%h1= t('views.projects.index.h1')

- unless @projects.empty?
  %table
    %thead
      %tr
        %th= t('views.projects.index.project_name')
        %th= t('views.projects.index.reported_errors')
        %th= t('views.projects.index.resolved_errors')
        %th= t('views.projects.index.pending_errors')
        %th= t('views.projects.index.stop_following')
    %tbody
      -@projects.each do |project|
        %tr
          %td= link_to project.name, project_errors_path(project)
          %td.center= link_to project.nb_errors_reported, project_errors_path(project)
          %td.center= link_to project.nb_errors_resolved, project_errors_path(project, :resolved => 'y')
          %td.center= link_to project.nb_errors_unresolved, project_errors_path(project, :resolved => 'n')
          - unless project.admin_member?(current_user)
            %td.center= link_to t('views.projects.index.leave_it'),leave_project_url(project)
          - else
            %td.center= t('views.projects.index.can_t_unfollow')
  %p
    =link_to t('views.projects.index.create_project'), new_project_path
- else
  %p
    = t('views.projects.index.no_project')
    = link_to t('views.projects.index.first_project'), new_project_path
