- @title = @root_error.message

= render :partial => 'errors/sidebar_summary'

#error
  = render :partial => 'errors/header_error'

  %h2 Data
  %ul
    - @error.data.each do |key, val|
      - if val.is_a(Hash)
        %li
          = "#{key}:"
          %ul
            - val.each do |k,v|
              %li="#{k}: <code>#{h v}</code>"
      - else
        %li="#{key}: #{val}"
