%h1 All messages reports on project #{@project.name}

- if @project.admin_member?(current_user)
  %p=link_to 'Edit this project', edit_project_url(@project)

- form_tag project_errors_url(@project.id), :method => :get do
  %p
    Limit to :
    = select_tag 'resolved', options_for_select({:resolved => 'y', :un_resolved => 'n', :all => nil}, params[:resolved])
    = submit_tag 'Filter'


%table
  %thead
    %tr
      %th Message
      %th Last raised
      %th number of comments
      %th Resolved?
  %tbody
    - @errors.each do |error|
      %tr
        %td=link_to error.message, project_error_path(@project, error)
        %td= error.last_raised_at
        %td= error.comments.size
        %td= check_box_tag 'resolved', 1, error.resolved

= will_paginate @errors

