- @title = @root_error.message

= render :partial => 'errors/sidebar_summary'

#error
  = render :partial => 'errors/header_error'

  %h2 Summary

  %dl
    %dt Error
    %dd=h @error.message
    %dt URL
    %dd=link_to @error.url
    %dt Parameters
    %dd
      %pre= @error.params.inspect

  %h2 Environment
  %ul
    - @error.environment.each do |key, val|
      %li="#{key}: #{val}"

  - unless @error.same_errors.empty?
    %hr

  %h2
    Comments
    = "( #{@error.comments.size} )"

  - if @error.comments.size < 1
    %p There are no comments on this error
  - else
    %ul
      - @error.comments.each do |comment|
        %li
          %h4
            By
            = comment.user_email
            in
            = l(comment.created_at)
          %div
            = simple_format(comment.text)

  = form_tag comment_project_error_url(@root_error.project, @root_error) do
    %p
      = text_area_tag :text
    %p
      = submit_tag 'Add a comment'
