%h1 Summary

%p
  resolved ?
  = @error.resolved

%dl
  %dt Error
  %dd= @error.message
  %dt URL
  %dd= @error.url
  %dt Parameters
  %dd
    %pre= @error.params.inspect

- form_for @error do |f|
  = hidden_field_tag 'error[resolved]', !@error.resolved
  = f.submit
