- @title = @root_error.message

= render :partial => 'errors/sidebar_summary'

#error
  = render :partial => 'errors/header_error'

  %h2
    Similar Errors
    ( #{@error.count} )

  %ul
    %li= link_to l(@root_error.raised_at, :format => :long_ordinal), project_error_url(@root_error.project, @root_error)
    - @error.same_errors.each do |same_error|
      %li= link_to l(same_error.raised_at, :format => :long_ordinal), project_error_same_error_url(@root_error.project, @root_error, same_error._id)
