!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/stylesheets/base.css", :title => "Base CSS", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %title AF83 ErrorNot
  %body
    %header
      %p
        %a{ :href => "/" }
          %span.hide
            ErrorNot
      - if user_signed_in?
        %ul
          %li= link_to t('layout.user_nav.profile'), edit_user_url
          %li= link_to t('layout.user_nav.logout'), destroy_user_session_url

    %nav
      - if user_signed_in?
        %ul
          %li= link_to t('layout.menu.projects'), projects_url


    #content
      = yield :summary
      = flash_to_html(flash)
      = yield

    %footer
      %p
        %a{ :href => "http://github.com/errornot/ErrorNot/" }
          %span
            GitHub
        ="-"
        %a{ :href => "http://demo.errornot.af83.com/" }
          %span
            Demo
        ="-"
        %a{ :href => "http://groups.google.com/group/errornot" }
          %span
            Mailing List

    .warning
      %p
        This is a demo, data will be reinitialized from times to times, and no emails will be sent !
      %p
        Info and screenshots are available on the <a href="http://dev.af83.com/git/launch-errornot-english-version/2010/03/24">AF83 dev blog</a>.
