!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    %title= title_header
  %body
    %header
      %p
        %a{ :href => "/" }
          %span.hide
            ErrorNot
      - if user_signed_in?
        %ul
          %li= link_to t('layout.user_nav.profile'), edit_user_url
          %li= link_to t('layout.user_nav.logout'), destroy_user_session_url, :method => :delete

    %nav
      - if user_signed_in?
        %ul
          %li= link_to t('layout.menu.projects'), projects_url


    #content
      = yield :summary
      = flash_to_html(flash)
      = yield

    %footer
      %p
        Powered by
        %a{ :href => "http://github.com/errornot/ErrorNot/" }
          %span
            Errornot
        \-
        = ::Errornot::VERSION
